spring:
  cloud:
    gateway:
      server:
        webflux:
          httpclient:
            connect-timeout: 1000
  data:
    redis:
      host: bookshop-redis
  security:
    oauth2:
      client:
        provider:
          keycloak:
            issuer-uri: http://bookshop-keycloak/realms/PolarBookshop